@import 'base/_reset.scss';
@import 'utils/vars.scss';
@import 'utils/breakpoint.scss';
@import 'layout/_header.scss';
@import 'layout/_main_grid';
@import 'layout/_filter.scss';
@import 'layout/_profile.scss';
@import 'layout/_lobby.scss';
@import 'components/_button.scss';
@import 'layout/_lobbies.scss';
@import 'layout/_create_lobby.scss';
@import 'components/_lobbycard.scss';

@font-face {
    font-family: 'Snes';
    src: url('../fonts/snes-font(1)/Snes.ttf'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/snes-font(1)/Snes.ttf') format('truetype'), /* Safari, Android, iOS */     
}
