
button._btn_big{
    background-color: $green;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    padding: 5px 10px;
    font-family: 'Roboto';
    text-transform: uppercase;

    @include breakpoint(tablet){
        font-size: 1.8rem;
        padding: 7px 15px;
    }
    
    &:hover{
        background-color: $greenhover;
    }
}
