@import 'utils/vars.scss';
header{
    height: 8vh;
    // background-color: $headergrey;
    /* border-bottom: 3px solid orange; */
    /* box-shadow: 0px 3px 10px orange; */
    display: flex;
    background-color: white;
    // box-shadow: 1px 2px 15px black;
    justify-content: space-between;
    align-items: center;
    .burger{
        margin-right: 20px;
        cursor: pointer;
    }
    z-index: 1;
}
.headerHeading{
    a{
        color: orange;
        text-decoration: none;
    }
    font-size: 2.5rem;
    color: orange;
    font-family: Snes;
    margin-left: 20px;
    /* text-shadow: 1px 1px 2.5px black; */
    letter-spacing: 1.5px;
    text-align: center;
    @include breakpoint(tablet){
        font-size: 3rem;
        margin-top: 1vh;
    }
    @include breakpoint(desktop1){
        font-size: 3.5rem;
    }
}
.burgerelement{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    
}
.nav-links{
    position: absolute;
    z-index: 20;
    height: auto;
    width: 50%;
    background-color: white;
    box-shadow: -2px 6px 10px black;
    margin-left: 50%;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
    @include breakpoint(desktop1){
        width: 25%;
        margin-left: 75%;
    }
    li{
        margin-top: 5vh;
        text-align: center;
        font-family: Roboto;
        font-size: 1.3rem;
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: orange;
            }
        }
        &:last-child{
            margin-bottom: 5vh;
        }
    }
}

.nav--state-active{
    transform: translateX(0);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-8px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px,-6px);
}
.headerHeadingName{
    font-family: Roboto;
    font-size: 2.5rem;
    color: black;
}