@import './base/_reset.scss';
@import './utils/vars.scss';
@import './utils/breakpoint.scss';
@import './base/_typography.scss';
@import './layout/_header.scss';
@import './layout/_main_grid';
@import './layout/_filter.scss';
@import './layout/_profile.scss';
@import './layout/_lobby.scss';
@import './layout/_create_lobby.scss';
@import './layout/_lobbies.scss';
@import './components/_button.scss';
@import './components/_lobbycard.scss';
@import './components/_pagemeta.scss';
@import './components/_header_element.scss';
@import './components/_forms.scss';

@font-face {
     font-family: 'Snes';
     src: url('./fonts/Snes.ttf'); 
     src: local(''),
          url('./fonts/Snes.ttf') format('truetype'),    
}
