.cardContainer{
    display: flex;
    overflow-x: auto;
    width: 100vw;
    margin-top: 2vh;
}
.cardImage{
    height: 25vh;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.scrolling-cards{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    @include breakpoint(desktop1){
        flex-wrap: wrap;
    }   
}

