h2._h2_sectionheading{
    font-family: 'Snes';
    color: $green;
    font-size: 3rem;
    display: inline-block;
    margin-right: 10px;
}

section._section_userinfo{
    .disabled{
        display: none;
    }
    p, label{
        font-size: 1.2rem;
        font-family: 'Roboto';
        margin-bottom: 0.5rem;
    }
    input[type="submit"]{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    margin-bottom: 10px;
}