._p_important{
    color: pink;
    font-family: 'Roboto';
    font-size: 1.4rem;
}
._p_info, ._p_lobbyfill{
    font-family: 'Roboto';
    font-size: 1rem;
    min-width: 70px;
    color: $headergrey;
}

._p_lobbyfill{
    color: black;
}

._h2_level2{
    font-family: 'Roboto';
    font-size: 1.2rem;
}
